/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
.table.condensed td {
    padding: .25em;
    padding-left: .5em;
    padding-right: .5em;
}
.DragonG {
    background-color: #971010;
    color: #FFD700;
}
.Dragon {
    background-color: #971010;
    color: #FFFFFF;
}
.RuneG, .RuneT, .Rune {
    background-color: #BBDEFB;
}
.AdamantG, .AdamantT, .Adamant {
    background-color: #B2DFDB;
}
.MithrilG, .MithrilT, .Mithril {
    background-color: #C5CAE9;
}
.SteelG, .SteelT, .Steel {
    background-color: #ECEFF1;
}
.IronG, .IronT, .Iron {
    background-color: #CFD8DC;
}
.BronzeG, .BronzeT, .Bronze {
    background-color: #BCAAA4;
}
.ChefHat {
    // No styles for you. :^)
}